#!/usr/sbin/nft -f

flush ruleset

define ssh = {{ ssh_port }}

table inet filter {

    set open_ports {
        type inet_service;
        elements = {
            $ssh
        }
    }

    chain {{ nftables_input_chain }} {
        type filter hook input priority 0; policy drop;

        # Allow from loopback (iif instead of iifname because lo always exists)
        iif lo accept;

        # Allow established connections
        # 'related' state catches things like ICMP replies to closed UDP ports
        # Allows return requests to things we send out
        ct state established,related accept;

        # Allow ssh
        tcp dport @open_ports ct state new accept;

        # Accept IPv4 ICMP requests: http://shouldiblockicmp.com/
        ip protocol icmp accept

        # Accept all ipv6 ICMP, since IPv6 relies on ICMP (e.g. Neighbour Discovery)
        ip6 nexthdr icmpv6 accept

        # Drop invalid connections
        ct state invalid counter drop;
        counter comment "Dropped packets not matched"
    }

    chain forwarding {
        type filter hook forward priority 0; policy drop;
    }

    chain outgoing {
        type filter hook output priority 0; policy accept;
    }
}

include "/etc/nftables/*.conf";